body{
margin:0;
font-family:Arial;
background:url("bg.jpg") center/cover no-repeat fixed;
color:white;
}
.header{
background:rgba(0,0,40,0.9);
padding:15px;
text-align:center;
}
.nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}
.container{
width:90%;
max-width:1000px;
margin:auto;
margin-top:20px;
background:rgba(0,0,30,0.85);
padding:20px;
border-radius:10px;
}
input,button{
padding:10px;
margin:5px;
}
button{
background:#00aeff;
border:none;
color:white;
cursor:pointer;
}
